/* Reset de estilos padrão do navegador */
body{
    background-color: #f0752d;
}
header{
    background-color: #333;
    text-align: center;
    color: #fff;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Estilizando o menu de navegação */
nav ul {
    background-color: #333;
    display: flex;
}
.inicio{
    color: red;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
}


nav ul li:hover {
    background-color: #555;
}

/* Estilizando o submenu dropdown */
nav ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    
}

nav ul li:hover ul.submenu {
    display: block;
}

nav ul li ul.submenu li {
    border-bottom: 1px solid #666;
}

nav ul li ul.submenu li:last-child {
    border-bottom: none;
}

nav ul li ul.submenu li a {
    padding: 10px 15px;
    color: #1d1616;
    display: block;
}

nav ul li ul.submenu li a:hover {
    background-color: #555;
}
